/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
   
}
nav li{
    list-style: none;
    margin: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-heading{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.btn-primary{
    background-color: orangered;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    /* padding: 20px 25px; */
    border-radius: 8px;
    width: 180px;
    height: 64px;
    cursor: pointer;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto 10px;

}
.banner-heading{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;

}
.gray-color{
    color: #727272;

}
.banner img{
    width: 100%;
}


/* main style */
main{
    max-width: 1000px;
    margin: 0 auto;
}


/* teams style*/
.teams-container{
    display: flex;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 1.5rem;

}

.teams-content{
    padding-left: 40px;
    padding-right: 40px;

}
.teams-title .span1{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.teams-title .span2{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.teams-title{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}























/* responsive media query */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, .teams-container{
        flex-direction:column;
    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}



/* medium devices or tablet */
@media screen and (min-width: 577px) and (max-width: 960px){
    header{
        padding: 40px;
    }
    nav, .teams-container{
        flex-direction:column;
    }
}