/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

.section-heading{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.btn-primary{
    background-color: orangered;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    /* padding: 20px 25px; */
    border-radius: 8px;
    width: 180px;
    height: 64px;
    cursor: pointer;
}





header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
   
}
nav li{
    list-style: none;
    margin: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}
nav li a{
    text-decoration: none;
    color: #424242;
}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto 10px;

}
.banner-heading{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;

}
.gray-color{
    color: #727272;

}
.banner img{
    width: 100%;
}


/* main style */
main{
    max-width: 1000px;
    margin: 0 auto;
}


/* teams style*/
.teams-container{
    display: flex;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 1.5rem;

}

.teams-content{
    padding-left: 40px;
    padding-right: 40px;

}
.teams-title .span1{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.teams-title .span2{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.teams-title{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}


   /* features style */
.features-container{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.features-container .card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;

}
.features-container .section-heading{
    border-left: 5px solid orangered;
    padding-left: 20px;
}
.experience{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 45px;
    width: 342px;
    height: 200px;
    text-align: center;
    position: relative;
    bottom: 120px;
}
.features-img img{
    height: 100%;
}
.experience h2{
    margin: 0px;
    /* text-align: center; */
    font-size: 65px;
    font-weight: 700;

}
.experience p{
    
    font-size: 1.5rem;
    /* font-weight: 500;
    padding-top: 5px; */
}
    /* facts style */

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;

}
.facts-card-container .card-state{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    color:  #727272;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 5px;
}

/* sponsors style */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}
.sponsors-img-container img{
    width: 165px;

}

/* footer style */
.footer{
    border-radius: 8px;
    background: #FFF4E7;
    width: 1200px;
    height: 55px;
    text-align: center;
    margin: 20px auto;
}
.footer p{
    padding-top: 18px;
    text-align: center;
}


/* responsive media query */
@media screen and (max-width: 576px){
    header , .facts-card-container{
        padding: 20px;
    }
    nav, .teams-container, .facts-card-container, .sponsors-img-container,
    .features-container{
        flex-direction:column;
    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-card-container{
        gap: 10px;
    }
    .features-img img{
        width: 100%;
        margin-left: 0px;
    }
}



/* medium devices or tablet */
@media screen and (min-width: 577px) and (max-width: 960px){
    header{
        padding: 40px;
    }
    nav, .teams-container, .sponsors-img-container, .features-container{
        flex-direction:column;
    }
    .features-img img{
        width: 100%;
        margin-left: 0px;
    }
}